body {
  background-color: cadetblue;
}

a {
  color: cadetblue;
}

h1 {
  color: snow;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
