body {
  background-color: cadetblue;
}

a {
  color: black;
}

.title {
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
